VITE_API_BASE_URL=http://localhost:3001/api/v1
VITE_GOOGLE_CLIENT_ID=365362032694-r5v94iu8d8h7vagb9ag9595c1hh4ksmn.apps.googleusercontent.com
VITE_STRIPE_PUBLIC_KEY=pk_test_51T6h17DwdNKzEorh9G4Ddt1BEZ0MOLLpqZEIlagIxaoWT256h6Z24PMCfchRkHpGDkjzXVLEPsQcGQroa0DdgrVN00BAQX77lg
